@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
* {
  background: transparent;
  color: white;
font-family: "Lexend Exa" !important;
}

body {
  background-color: #091620;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* styles.css */
.table-row {
  margin: 10px 0; /* Only top and bottom margin needed for spacing */
  /* border: 1px solid red; */
  border-radius: 5px;
  background-color: #091620;
}

.table-cell {
  padding: 10px;
  color: #ffffff;
}

.table-cell-fund {
  display: flex;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: green; */
  margin-right: 10px;
}


@media (max-width: 600px) {
  .table-cell {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .table-cell {
    font-size: 16px;
  }
}
